<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <div class="field">
          <p><strong>Please note:</strong> if you are a Rice Student, you do <strong>not</strong> need to fill out this form. This form exists to help us better handle applications for students from other schools. Rice students are automatically admitted to HackRice X and do not have to go through an application process. We will send out a Google form at the beginning of the fall semester for you to register.</p>
        </div>

         <div class="field">
          <p><strong>Another note:</strong> Due to the pandemic and Rice University regulations, HackRice X will be remote for all non-Rice participants this year. <strong>Please do NOT make travel arrangements.</strong> Additionally, please make sure you have access to reliable wifi for the duration of the event.</p>
        </div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field" ng-show="autoFilledSchool">
          <label> School </label>
          <input class="ui input"
                 disabled="disabled"
                 ng-show="autoFilledSchool"
                 ng-model="user.profile.school">
        </div>

        <div class="field" ng-show="!autoFilledSchool">
          <label> School </label>
          <div id="school" class="ui search">
            <div class="ui input">
              <input class="prompt" type="text" placeholder="School" name="school" ng-model="user.profile.school">                
            </div>
            <div class="results"></div>
          </div>
        </div>

        <div class="field">
          <label>Graduation Year</label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
          </select>
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>
              How many hackathons have you been to?
          </label>
          <input type="text"
                 name="hackNum"
                 placeholder="17"
                 ng-model="user.profile.hackNum">
        </div>

        <div class="field">
          <label>
              How did you hear about HackRice?
          </label>
          <input type="text"
                 name="hear"
                 placeholder="the MLH website"
                 ng-model="user.profile.hearInfo">
        </div>

        <div class="field">
          <label>
              What would be an awesome prize to win at HackRice?
          </label>
          <input type="text"
                 name="prize"
                 placeholder="Nintendo Switch"
                 ng-model="user.profile.prize">
        </div>

        <br>
        <br>

        <div class="divided title"> Skills & Accomplishments </div>

        <div class="field">
          <label> What are you studying? </label>
          <input type="text"
                 name="study"
                 placeholder="Computer Science, Product Design, Basket Weaving, etc."
                 ng-model="user.profile.major">
        </div>

        <div class="field">
          <label> Github </label>
          <input type="text"
                 name="github"
                 placeholder="https://github.com/foobar"
                 ng-model="user.profile.github">
        </div>

        <div class="field">
          <label> LinkedIn </label>
          <input type="text"
                 name="linkedin"
                 placeholder="https://linkedin.com/in/myname"
                 ng-model="user.profile.linkedin">
        </div>

        <div class="field">
          <label> Website </label>
          <input type="text"
                 name="website"
                 placeholder="https://yourname.me"
                 ng-model="user.profile.website">
        </div>

        <div class="field">
          <label> Skill Sheet (required) </label>
          <p>
            Upload a document outlining any skills or experience you'd like to share (ex. resume). PDF preferred!
          </p>
          <a
            target="_blank"
            href="https://www.dropbox.com/request/qMxsZ9zfOd7f2GYBUsys"
            class="ui pink button">
            Upload
          </a>
        </div>

        <br>
        <br>

        <div class="divided title"> Short Answer Questions </div>

        <div class="field">
          <label>
              What do you want to learn from or get out of HackRice? Is there a project you’re excited to tackle? (1500 Character Limit)
          </label>
          <textarea ng-model="user.profile.learnEssay">
          </textarea>
        </div>

        <div class="field">
          <label>
              Tell us about a project you’re proud of. What did you learn? What would you have done differently? (2500 Character Limit)
          </label>
          <textarea ng-model="user.profile.projectEssay">
          </textarea>
        </div>

        <div class="field">
          <label>
              Remote hackers only: How do you plan on succeeding despite working in a remote environment? (1000 Character Limit)
          </label>
          <textarea ng-model="user.profile.etcEssay">
          </textarea>
        </div>

        <div class="field">
          <p>
            As a virtual event, we are excited to open up HackRice X to a larger and more diverse pool of hackers! However, we have decided to limit the age of participation to be at least 13 years of age. Checking the box below affirms that you are, or will be, 13 years or older by September 18th, 2020. If you're under the age of 13, and you really want to attend HackRice X, please stop filling out this form and email hack@rice.edu with the title "Under 13 HackRice X Application." We will then begin an alternative application process.
          </p>
          <!-- <p>
            <strong>
            We will be checking ID. If you are a non-Rice minor, you will be turned away at the door.
            </strong>
          </p> -->
          <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.profile.adult">
            <label for="adult">I am 13 or older.</label>
          </div>
        </div>

        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui purple button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
