/** BRANDING COLORS
 * primary (default light blue): sidebar color, admitted dashboard status
 * secondary (default light orange): header text, submitted/confirmed/checked-in dashboard status
 * tertiary (default light purple): waitlist/declined dashboard status
 */

$primary: #60b2b2;
$secondary: #FFC552;
$tertiary: #BF6DFF;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: url('https://s3.amazonaws.com/hackmit-assets/tintedphoto_1920_1080_low.jpg');
