// Branding overrides
//
// Copy variables from `_branding.scss` to this file to override default values.

$primary: #2D2D2C;
$secondary: #FFC552;
$tertiary: #BF6DFF;

/** ASSET URLS
 * login-bg: image for login splash page 
 */

$login-bg: $primary;
